  @import 'theme';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-size: 62.5%;
  }

  body {
    -webkit-font-smoothing: antialiased;

    width: 100vw;
    height: 100vh;

  }
  
  #root {
    width: 100%;
    height: 100%;
    background: $background-color;
  }
  

  body,
  input,
  button,
  textarea {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    outline: none;
  }

  a {
    text-decoration: none;
  }

  button,
  a {
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
  }

  button:hover,
  a:hover {
    filter: brightness(0.9);

  }