version: '3.9'
services:
  db:
    container_name: shopper
    image: mysql:latest
    environment:
      MYSQL_DATABASE: shopper
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - ./database.sql:/docker-entrypoint-initdb.d/database.sql
