@import '/src/styles/theme';

.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .mainHome {
    background: $background-color;
    padding: 3.2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      background-color: #f5f5f5;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 4px;
    }

    .homeButton {
      background-color: #2da77a;
    }

    .hideButton {
      display: none;
    }

  }
};