@import '/src/styles/theme';
.headerContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 32px;
  background: $light-color;

  .logo {
    max-width: 100%;
    height: auto;
  }

  .user{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;

    span{
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.4rem;
      letter-spacing: 1px;
      color: $color-shopper;
    }
  }

  @media (max-width: 300px) {
    span{
      display: none;
    }
  }
};
